@model TravelBookingProject.ViewModel.TravelViewModel

@{
    ViewBag.Title = "Booking";
}

<h2>Booking</h2>
<div class="text-danger">
    @ViewBag.Error
    <br />
    @ViewBag.Errormsg
</div>
@using (Html.BeginForm())

 {
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
<table class="table table-striped">
    <tr>
        <td>@Html.LabelFor(m => m.EmpName)</td>
        <td>
            @Html.TextBoxFor(m => m.EmpName, new { @class = "form-control",@Value = Model.EmpName, @readonly = "readonly" })
            <span class="text-danger">@Html.ValidationMessageFor(m => m.EmpName)</span>
        </td>
        <td>@Html.Label("Employee GCM")</td>
        <td>
            
            @Html.DropDownListFor(m => m.GCMId, Model.GCMItem ?? new List<SelectListItem>(), "--------Select------------", new { @class = "form-control" })
        </td>
    </tr>
    <tr>
        <td>@Html.Label("Travel Type")</td>
        <td>
            @Html.DropDownListFor(m => m.TravelId, Model.TravelItem ?? new List<SelectListItem>(), "--------Select------------", new { @class = "form-control" })
            <span class="text-danger">@Html.ValidationMessageFor(m => m.Country)</span>
        </td>
        <td>@Html.LabelFor(m => m.Status)</td>
        <td>
            @Html.TextBoxFor(m => m.Status, new { @class = "form-control", @Value = ViewBag.data3 })
            <span class="text-danger">@Html.ValidationMessageFor(m => m.Status)</span>
        </td>

    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.Country)</td>
        <td>
            @Html.TextBoxFor(m => m.Country, new { @class = "form-control", @Value = ViewBag.data1 })
            <span class="text-danger">@Html.ValidationMessageFor(m => m.Country)</span>
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.City)</td>
        <td>
            @Html.TextBoxFor(m => m.City, new { @class = "form-control", @Value = ViewBag.data2 })
            <span class="text-danger">@Html.ValidationMessageFor(m => m.City)</span>
        </td>
    </tr>
   
    @*<tr>
            <span class="alert-danger">@ViewBag.Message</span>
        </tr>*@
    <tr>
        <td colspan="2" style="text-align:center">
            <input type="submit" class="btn btn-primary" />
        </td>
    </tr>




</table>

}












@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h4>EMP</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.EmpName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.EmpName, new { htmlAtrributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EmpName, "", new { @class = "text-danger" })
                </div>

            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Country,new { htmlAtrributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.City, new { htmlAtrributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Status, new { htmlAtrributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>




        </div>

    }*@
