@model TravelBookingProject.Models.UserLogin
@{
    ViewBag.Title = "Validate";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>                    @*We are doing this to validate the field at client side*@
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<h2>Validate</h2>

@using (Html.BeginForm("ValidationConfirmation", "LoginPage", FormMethod.Post))

{
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <table class="table table-striped">
        <tr>
            <td>@Html.LabelFor(m => m.UserName)</td>
            <td>
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                <span class="text-danger">@Html.ValidationMessageFor(m => m.UserName)</span>
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Password)</td>
            <td>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                <span class="text-danger">@Html.ValidationMessageFor(m => m.Password)</span>
            </td>
        </tr>
        @*<tr>
                <span class="alert-danger">@ViewBag.Message</span>
            </tr>*@
        <tr>
            <td colspan="2" style="text-align:center">
                <input type="submit" class="btn btn-primary" />
            </td>
        </tr>




    </table>

}




